.noMatch-area{
    font-size: 25px;
    padding: 100px;
    background-color:#e7eb75;
    margin-left: 380px;
    margin-top: 150px;
    color: #4d104d;
    border-radius: 100px 15px;
    width: 300px;
}