body{
    background-color: #e4e7f0;
}
#card-container{
    width: 1020px;
    height: 220px;
    margin-left: 110px;
    background-color: #bdbcf0f6;
    margin-bottom: 25px;
    padding-left: 30px;
}
.title{
    color: #402e55;
    font-size: 22px;
    font-weight: 500;
}
#post-id{
    margin-top: 25px;
    font-size: 13px;
    font-weight: 600;
}
#show-details{
    margin-left: 10px;
    font-size: 12px;  
    font-weight: 600;
    background-color: #340d7c;
    color: #cfcfee;  
}